[user]
	name = Oliver Steele
	email = steele@osteele.com
	accesstoken = $secret(GITHUB_ACCESS_TOKEN)

[github]
	user = osteele

[alias]
	ci = commit -a
	co = checkout
	st = status
	amend = commit -a -C HEAD --amend
	rev = checkout HEAD
	p4-ci = !git-p4 rebase ; git-p4 submit --reset
	# from https://twitter.com/rakyll/status/1413301016561217538
	stomp = git reset - -hard @{upstream} # reset local to tracked remote
	uncommit = reset --soft HEAD~1
	undo = reset --mixed HEAD~1
	unhapen = reset --hard HEAD~1
	# from nuclear squid
	ignored = ls-files --exclude-standard --ignored --others
	# from http://www.saintsjd.com/2012/01/a-better-ui-for-git/
	stage = add -u
	undo = reset --hard HEAD^
	switch = !legit switch \"$@\"
	ribbon = tag --force _ribbon origin/master
	catchup = log --pretty=oneline --abbrev-commit --decorate --reverse --topo-order _ribbon..origin/master
	# from https://gist.github.com/carolynvs/c9357f45b6230cc8c3b302e83e3961a0
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads

	# legit
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"

	# own
	prune-origin = remote prune origin
	prune-merged = !bash -c \"git branch --merged dev | egrep -v '\\s(master|dev)$' | xargs git branch -d\"

	# rebase
	rbo = rebase -i
	vsrbi = !GIT_SEQUENCE_EDITOR='code --wait' git rebase -i
	vsrbo = !GIT_SEQUENCE_EDITOR='code --wait' git rebase -i origin/master

	# logs
	find-commits = log --oneline -F --grep
	# changes = diff --name-status -r
	l = log --decorate --graph --pretty=tformat:'%C(yellow)%h%Cred%d %Cblue[%an]%Creset %s %Cgreen(%cr)%Creset%N'
	# l = log --graph --pretty=tformat:'%h %d %an %s' --abbrev-commit
	last = log -1 HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset %an -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	pr-log = --no-pager log origin/dev..HEAD --format='%h *%s*%n%n%b' --reverse
	clog = !echo git --no-pager log .. --format='%h *%s*%n%n%b' --reverse

[commit]
#	gpgsign = true

[credential]
	helper = osxkeychain

[core]
	excludesfile = /Users/osteele/.gitignore
	attributesfile = /Users/osteele/.gitattributes
	quotepath = false
	pager = npx diff-so-fancy | less --tabs=4 -RFX # requires diff-so-fancy
	editor = code --wait
	whitespace = trailing-space,space-before-tab,indent-with-non-tab

[format]
	pretty = %Cblue%h%Creset %Cgreen[%ar]%Creset (%an) %s

[diff]
	color = auto
	rename = copy
	renames = true
	tool = Kaleidoscope
	compactionHeuristic = true

[gpg]
	program = /usr/local/bin/krgpg

[help]
	format = web
	browser = open
	autocorrect = 1

[interactive]
	diffFilter = diff-highlight

[push]
	default = tracking

[merge]
	log = true
	tool = Kaleidoscope
	conflictstyle = diff3
	# tool = opendiff

[pager]
	color = true
	# log = diff-highlight | less
	# show = diff-highlight | less
	# diff = diff-highlight | less

[pull]
	rebase = true

[sequence]
	editor = npx rebase-editor

[branch "*branch-name*"]
	rebase = true

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = blue reverse
	frag = magenta bold
	old = red bold
	new = blue bold

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "status"]
	added = red
	changed = green
	untracked = blue

[difftool]
	prompt = false

[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[commit]
	# gpgSign = true
[tag]
	forceSignAnnotated = true
[gc]
	autoDetach = false
[rerere]
	enabled = true
[init]
	defaultBranch = main
