;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

_auth=$secret(_auth)
color=true
init.author.name=Oliver Steele
init.author.email=steele@osteele.com
init.author.url=http://osteele.com/
cache-lock-stale=259200000
loglevel=error
;link=true
viewer=browser
email=steele@osteele.com
registry=http://registry.npmjs.org/

[_token]
AuthSession=$secret(AuthSession)
version=1
expires=1391556172086
path=/
httponly=true
