_auth="$secret(NPM_AUTH_TOKEN)"
color=true
init.author.name=Oliver Steele
init.author.email=steele@osteele.com
init.author.url=https://osteele.com/
cache-lock-stale=259200000
loglevel=error
viewer=browser
//registry.npmjs.org/:_authToken=$secret(NPM_AUTH_SESSION)
